.btn{
    display: inline-block;
    font-size: 2rem;
    background-color: #003fa3;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    transition: all 0.8 ease 0s;
    /* transition-property: background-color; */
    /* transition-duration: 0,8s; */
    /* transition-timing-function: ease; */
    /* transition-delay: 0s; */
    transition: 1s;
}

.btn:hover{
background-color: red;
font-size: 2.1rem;
color: #ff0;
border-radius: 50px;
}

/* Стили для квадрата */
.example{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-top-color: blue;
    border-right-color: yellow;
    border-bottom-color: red;
    transform: translate(50px,10px);
    /* rotate: 45deg; */
    transform: rotate(45deg) translate(100px, 30px);
    
    /* transform: rotate(45deg) translateX(100px) translateY(100px); */
    /* transform: translate(50px, 10px); */
}

.example :hover{
    transform: scale(1.2, 1.2);
}

/* Стили для точки */
.point{
    width: 3px;
    height: 3px;
    background-color: black;
    position: relative; 
    top: 50%;
    left: 50%;
}